/* common styles area start */
* {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
}

/* common styles area end */
/* header styles */
.header {
    background: rgb(255, 248, 243);
    background-image: url('./../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* header styles end */

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

/* banner section styles start */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px 0px 200px;
}

.banner-greeting {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin: 20px 0px 0px 0px;
}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px 30px 0px;
}

.profile-img {
    width: 85%;
}

/* banner section styles end */