/* common styles area start */
* {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
}

/* common styles area end */
/* header section styles start */
.header {
    background: rgb(255, 248, 243);
    background-image: url('./../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:right bottom, left;
}

/* header styles end */

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

/* banner section styles start */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px 0px 200px;
}

.banner-greeting {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin: 20px 0px 0px 0px;
}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px 30px 0px;
    line-height: 30px;
}

.banner-profile{
    display: flex;
    text-align: right bottom;
}
.profile-img {
    width: 85%;
    /* margin-bottom: 0px; */
}

/* banner section styles end */
/* header section end */

/* -- ********-----------------***********--- */

/* main section styles start */
main {
    max-width: 1140px;
    margin: 0px auto;
}

main section {
    /* margin-top: 130px; */
}

/* about section start */
.about {}

.about-content {}

.about-containr {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 120px 150px;
    margin-top: 100px;
    text-align: center;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.section-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

/* about section end */

/* what i do section start */
.what-i-do-content {
    padding: 120px 150px;
}

.skills-container {
    display: flex;
    gap: 25px;
}

.skill {
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.skil-title {
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
}

/* resume section start */
.resume-section {
    margin: 130px 0px;
}

.resume-container {
    display: flex;
    gap: 60px;
}

.resume-column-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
}

.resume-item {
    /* padding: 20px; */
}

.resume-item-title {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}

.resume-item-institute {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.resume-item-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.resume-container hr {
    margin: 30px 0px;
    opacity: 0.3;
}


.download-btn {
    margin-top: 40px;
}

.download-cv {
    text-align: center;
}

/* main section styles end */

/* footer section start */
footer {
    background: rgb(255, 248, 243);
}

.footer-section {
    max-width: 1140px;
    margin: 0px auto;
    /* padding: 20px 0px; */
}
.footer-container{
    display: flex;
    gap: 100px;
    padding: 100px 0px;
}
.footer-column{
    
}

.footer-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;
}

.footer-description {
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
}
.social-link a{
    margin-right: 20px;
}


form{
    margin-top: 20px;
}
form input[type="text"], form input[type="email"], textarea{
    margin-bottom: 20px;
    padding: 18px 35px;
    color: rgb(117, 117, 117);
    border: none;
    border-radius: 6px;
    width: 90%;
}