/* common styles area start */
* {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color:  rgb(255, 255, 255);
    padding: 15px 35px;
}

/* common styles area end */
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}